<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <style>
    .pad-left {
      padding-left: 15px;
    }
    .pad-right {
      padding-right: 15px;
    }
    html {
      background-color: #FFE08A;
    }
    .grey-background {
      background-color: #FFE08A;
    }
  </style>

</head>

<body class="grey-background">
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>

    <br/>
    <div class="columns is-multiline">
      <div class="column is-offset-2 is-8 pad-left">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" placeholder="Your postal code">
          </div>  
          <div class="control">
            <!-- Find button-->
            <button class="button is-primary">Find!</button>
            <!-- Find button--> 
          </div> 
        </div>
      </div>
      <div class="column is-2 is-offset-2  ">
        <aside class="menu">
          <div class="title">Filters</div>
          <!-- date picker-->
          <!-- 可以放一个date picker这里-->
          <!-- date picker-->

          <!-- select dog or cat-->
          <div class="control">
            <label class="label">I have a</label>
            <label class="radio">
              <input type="radio" name="dogSelect">
              Dog
            </label>
            <label class="radio">
              <input type="radio" name="catSelect" checked>
              Cat
            </label>
          </div>
          <!-- select dog or cat-->

          <!-- select nubmer of pets-->
          <label class="label">Pet number</label>
          <div class="field is-grouped is-grouped-multiline">
            <p class="control">
              <a class="button">
                One
              </a>
            </p>
            <p class="control">
              <a class="button">
                Two
              </a>
            </p>
            <p class="control">
              <a class="button">
                Three
              </a>
            </p>
            <p class="control">
              <a class="button">
                Four and Four+
              </a>
          </div>
          <!-- select nubmer of pets-->

          <!-- select pet size-->
          <label class="label">Pet size</label>
          <div class="field is-grouped is-grouped-multiline">
            <p class="control">
              <a class="button">
                0-15
              </a>
            </p>
            <p class="control">
              <a class="button">
                16-40
              </a>
            </p>
            <p class="control">
              <a class="button">
                41-100
              </a>
            </p>
            <p class="control">
              <a class="button">
                100+
              </a>
          </div>
          <!-- select pet size-->
          <div class="label">My Profile</div>
          <div class="field">
            <label class="label is-small">Name</label>
            <div class="control">
              <input id="user-info-name" class="input is-small" type="text" placeholder="<%= curUser.name %>" value="<%= curUser.name %> ">
            </div>
          </div>
          <div class="field">
            <label class="label is-small">Phone</label>
            <div class="control">
              <input id="user-info-phone" class="input is-small" type="text" placeholder="<%= curUser.phone %>" value="<%= curUser.phone %> ">
            </div>
          </div>
          <div class="field">
            <label class="label is-small">Address</label>
            <div class="control">
              <input id="user-info-address" class="input is-small" type="text" placeholder="<%= curUser.address %>" value="<%= curUser.address %> ">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button id="user-info-submit" class="button is-danger is-small" data-target="">Update</button>
            </div>
            <div class="control">
              <button id="user-info-cancel" class="button is-link is-light is-small" data-target="">Cancel</button>
            </div>
          </div>


        </aside>
      </div>
      <div class="table-container column is-6-desktop is-6-tablet">
        <div class="title">Available Pet-sitters</div>
        <table class="table is-fullwidth is-hoverable grey-background">
          <thead>
            <tr>
              <th>Pet-sit Spot</th>
              <th>Address</th>
              <th>Rate</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Pet-sit Spot</th>
              <th>Address</th>
              <th>Rate</th>
              <th>Email</th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            <%- include('../partials/feed-stream', { feed: feed }) %>
          </tbody>
        </table>
        <div class="title">My Bookings</div>
        <%- include('../partials/bookings', {bookings: bookings }) %>
      </div>
      
      <div class="column is-2">

      </div> 
</body>

<%- include('../partials/footer') %>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-firestore-compat.js"></script>

<script>

window.onload = () => {
  const firebaseConfig = {
    apiKey: "AIzaSyAgz9vCHbxEAz8bfF9Ycyjw2LoS9B_jwXQ",
    authDomain: "cs5356-fffd1.firebaseapp.com",
    projectId: "cs5356-fffd1",
    storageBucket: "cs5356-fffd1.appspot.com",
    messagingSenderId: "354809257551",
    appId: "1:354809257551:web:b3606dfcbed9f98bda943a",
    measurementId: "G-YHZ8CE0LY2"
  };

  const app = firebase.initializeApp(firebaseConfig);
  const db = firebase.firestore();
}

let submitUserUpdateButton = document.getElementById("user-info-submit");
let cancelUserUpdateButton = document.getElementById("user-info-cancel");

submitUserUpdateButton.addEventListener("click", updateUserInfo);
cancelUserUpdateButton.addEventListener("click", cancelUserUpdate);

function updateUserInfo(event) {
  let user_email = document.getElementById("user-email")
    .textContent.split(" ")
    .filter(w => w.length > 0)[1];
  let docKey = user_email.slice(0,-5);
  let name = document.getElementById("user-info-name").value;
  let phone = document.getElementById("user-info-phone").value;
  let address = document.getElementById("user-info-address").value;
  
  let updateDoc = {
    name: name,
    phone: phone,
    address: address
  }

  // connect to db
  const firebaseConfig = {
    apiKey: "AIzaSyAgz9vCHbxEAz8bfF9Ycyjw2LoS9B_jwXQ",
    authDomain: "cs5356-fffd1.firebaseapp.com",
    projectId: "cs5356-fffd1",
    storageBucket: "cs5356-fffd1.appspot.com",
    messagingSenderId: "354809257551",
    appId: "1:354809257551:web:b3606dfcbed9f98bda943a",
    measurementId: "G-YHZ8CE0LY2"
  };

  const app = firebase.initializeApp(firebaseConfig);
  db = firebase.firestore();
  // end of connect db
  
  db.collection("user-info").doc(docKey).update(updateDoc);
}

function cancelUserUpdate(event) {
  console.log("cancel udpate"); 
  let name = document.getElementById("user-info-name");
  let phone = document.getElementById("user-info-phone");
  let address = document.getElementById("user-info-address");
  
  document.getElementById("user-info-name").value = <%- JSON.stringify(curUser.name) %>;
  document.getElementById("user-info-phone").value = <%- JSON.stringify(curUser.phone) %>;
  document.getElementById("user-info-address").value = <%- JSON.stringify(curUser.address) %>;
}

</script>

</html>