<% feed.forEach(function(feedItem) { %>
  <tr>
    <td><%= feedItem.name %></td>
    <td><%= feedItem.address %></td>
    <td>$<%= feedItem.rate %>/hr</td>
    <td><%= feedItem.email %></td>
    <td><button class="button is-danger start-booking" data-target="#modal-confirm-booking&<%= feedItem.email%>">Book</button></td>
  </tr>
  
  <div id="modal-confirm-booking&<%= feedItem.email%>" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <div class="title"><%= feedItem.name %> Booking</div>
        <div class="is-size-5 has-text-weight-bold">Details</div>

            <div>Pet-sit name: <%= feedItem.name %></div>
            <div>Address: <%= feedItem.address %></div>
            <div>Hourly rate: $<%= feedItem.rate %>/hr</div>
            <div>Email: <%= feedItem.email %></div>
        <br>
        
        <div class="field">
          <label class="label">Drop off date</label>
          <div class="select">
            <select id="select-date-1&<%= feedItem.email%>">
              <% feedItem.availability.forEach(function(avail) { %>
                <option><%= avail%></option>
              <% }) %>
            </select>
          </div>
        </div>

        <div class="field">
          <label class="label">Pick up date</label>
          <div class="select">
            <select id="select-date-2&<%= feedItem.email%>">
              <% feedItem.availability.forEach(function(avail) { %>
                <option><%= avail%></option>
              <% }) %>
            </select>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-danger submit-bookingconf" data-target="#modal-confirm-booking&<%= feedItem.email%>">Submit</button>
          </div>
          <div class="control">
            <button class="button is-link is-light close-bookingconf" data-target="#modal-confirm-booking&<%= feedItem.email%>">Cancel</button>
          </div>
        </div>

      </div>
    </div>
    <button class="modal-close is-large close-bookingconf" data-target="#modal-confirm-booking&<%= feedItem.email%>" aria-label="close"></button>
  </div>
  
<% }) %>

<script>
let petSitterBookings = document.getElementsByClassName("start-booking");
let submitButtons = document.getElementsByClassName("submit-bookingconf");
let cancelButtons = document.getElementsByClassName("close-bookingconf");


for(let el of petSitterBookings) {
  el.addEventListener("click", openModal);
}
for(let el of submitButtons) {
  el.addEventListener("click", submitBooking);
}
for(let el of cancelButtons) {
  el.addEventListener("click", cancelBooking);
}

function openModal(event) {
  let targetId = event.target.getAttribute("data-target").slice(1);
  let modal = document.getElementById(targetId);
  modal.classList.add("is-active");
}

function submitBooking(event) {
  let email = event.target.getAttribute("data-target").split('&')[1];
  let user_email = document.getElementById("user-email")
    .textContent.split(" ")
    .filter(w => w.length > 0)[1];
  let dropOffDate = document.getElementById("select-date-1&" + email).value;
  let pickUpDate = document.getElementById("select-date-2&" + email).value;

  // connect to db
  const firebaseConfig = {
    apiKey: "AIzaSyAgz9vCHbxEAz8bfF9Ycyjw2LoS9B_jwXQ",
    authDomain: "cs5356-fffd1.firebaseapp.com",
    projectId: "cs5356-fffd1",
    storageBucket: "cs5356-fffd1.appspot.com",
    messagingSenderId: "354809257551",
    appId: "1:354809257551:web:b3606dfcbed9f98bda943a",
    measurementId: "G-YHZ8CE0LY2"
  };

  const app = firebase.initializeApp(firebaseConfig);
  db = firebase.firestore();
  // end of connect db

  // add booking
  var a = 'bookings.'+user_email.slice(0,-5);
  let b = pickUpDate+','+dropOffDate
  var req = {[`${a}`] : b}

  console.log(req)
  db.collection("pet-sit").doc(email).update(req)
    .then(() => {
      console.log("a:"+a)
      console.log("b:"+b)
      console.log("Document successfully updated!");
    });
  // end of add booking


  console.log("dropoff: " + dropOffDate);
  console.log("pickup: " + pickUpDate);
  console.log("customer: " + user_email);
  console.log("submit booking for email: " + email);
  
  // trigger server rerender
  
  for (let i = 0; i < 4; i++) {
    fetch('/updateDashboard', {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: {}
    });
  }

  closeModal(event);
  
  window.location.reload();
  window.location.reload();
}

function cancelBooking(event) {  
  closeModal(event);
}

function closeModal(event) {
  let targetId = event.target.getAttribute("data-target").slice(1);
  let modal = document.getElementById(targetId);
  modal.classList.remove("is-active");
}
    
  
</script>